html, body {
  margin: 0;
  padding: 0;
  background-color: hsl(57, 35%, 20%);
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}